<div class="form-container">
  <form (ngSubmit)="onAddColor()" [formGroup]="colorForm">
    <div class="input-container">
      <label class="admin-custom-label" for="titleInput">Title*</label>
      <input
        class="admin-custom-input"
        id="titleInput"
        formControlName="title"
        type="text"
        [ngClass]="
          title.invalid && title.touched
            ? 'admin-custom-invalid-input'
            : 'admin-custon-valid-input'
        "
      />
      <div *ngIf="title.invalid && title.touched" class="error-container">
        <p *ngIf="title.hasError('required')">Ezt a mezot kotelezo megadni</p>
        <p *ngIf="title.hasError('minlength')">
          Ennek a mezonek legalabb
          {{ title.getError("minlength").requiredLength }} karakter hosszunak
          kellene lennie
        </p>
      </div>
    </div>

    <div class="input-container">
      <label class="admin-custom-label" for="colorInput">Color*</label>
      <input
        class="admin-custom-input"
        id="colorInput"
        formControlName="color"
        type="color"
        [ngClass]="
          color.invalid && color.touched
            ? 'admin-custom-invalid-input'
            : 'admin-custon-valid-input'
        "
      />
      <div *ngIf="color.invalid && color.touched" class="error-container">
        <p *ngIf="color.hasError('required')">Ezt a mezot kotelezo megadni</p>
      </div>
    </div>
    <div class="input-container">
      <button type="submit" class="admin-custom-button">Add Color</button>
    </div>
  </form>
</div>
