<div class="form-container">
  <form [formGroup]="makerForm" (ngSubmit)="onAddMaker()">
    <div class="input-container">
      <label class="admin-custom-label" for="titleInput">Title*</label>
      <input
        class="admin-custom-input"
        id="titleInput"
        formControlName="title"
        type="text"
        [ngClass]="
          title.invalid && title.touched
            ? 'admin-custom-invalid-input'
            : 'admin-custon-valid-input'
        "
      />
      <div *ngIf="title.invalid && title.touched" class="error-container">
        <p *ngIf="title.hasError('required')">Ezt a mezot kotelezo megadni</p>
      </div>
    </div>

    <div class="input-container">
      <label class="admin-custom-label" for="iconPathInput">iconPath*</label>
      <input
        class="admin-custom-input"
        id="iconPathInput"
        formControlName="iconPath"
        type="text"
        [ngClass]="
          iconPath.invalid && iconPath.touched
            ? 'admin-custom-invalid-input'
            : 'admin-custon-valid-input'
        "
      />
      <div *ngIf="iconPath.invalid && iconPath.touched" class="error-container">
        <p *ngIf="iconPath.hasError('required')">
          Ezt a mezot kotelezo megadni
        </p>
      </div>
    </div>
    <div class="input-container">
      <button type="submit" class="admin-custom-button">Add Maker</button>
    </div>
  </form>
</div>
