.colors-container *{
    margin: 15px 25px;
    
}
.form-container{
    max-width: 400px;
    padding: 20px;
    
}
.input-container *{
    margin: 10px 0;
    
}
.design-item{
    display: inline-block;
    min-width: 100px;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(39, 39, 39, 0.315);

}